@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-right: auto;
  margin-left: auto;
}

.bg-secondary {
  background-color: #2b2d42 !important;
}

.text-secondary {
  color: rgb(43 45 66 / 1) !important;
}

.text-primary {
  color: rgb(253 61 87 / 1) !important;
}
